<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/dynamic/js/urls.js"></script>
    {% if cookiecutter.is_socketio == 'yes' %}
    <script type="text/javascript" src="/static/js/socket.io.js"></script>
    {% endif %}
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/swig.min.js"></script>
    <script type="text/javascript">
      $(function () {

          {% if cookiecutter.is_socketio == 'yes' %}

            //test socket_io
            var socket = io.connect('/manager');

            socket.on('init', function (res) {
                console.log('socket io say:', res);

                socket.emit('trace_test', {test_key: 'test_val'});
            });

            socket.on('trace', function(res){
                console.log('trace say:', res);
            });
          {% endif %}

            //test ajaxx
            $.post(g_urls['view_link']['{{ cookiecutter.frontend }}:ViewIndex'], {cmd: 'init'}, function (res) {
                console.log('ajax say:', res)
            });

        });
    </script>
</head>
<body>
{% raw %}
{% block content_left %}{% endblock %}
{% block content_main %}{% endblock %}
{% block content_right %}{% endblock %}
{% endraw %}
</body>
</html>